requests
pytest
structlog
curlify
pydantic
records
psycopg2
PyHamcrest
SQLAlchemy
sqlacodegen
vyper-config
allure-pytest
git+https://github.com/DoraSigulia/restclient.git
git+https://github.com/DoraSigulia/orm_client.git
git+https://github.com/DoraSigulia/db_client.git
git+https://github.com/DoraSigulia/dm_api_account.git